*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div#clicou{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: green;
    color: aliceblue;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#entrou{
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: green;
    color: aliceblue;
    width: 300px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#sair{
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: green;
    color: aliceblue;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#global{
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: green;
    color: aliceblue;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}



